manifest.version = '0.5.0'
params.version = manifest.version

profiles {

  // Profile standard: Nextseq runs.
  standard {
    process {
      beforeScript =  '. /etc/profile.d/modules.sh'
      executor = "sge"
      errorStrategy = "finish"
      maxForks = 30

      queue_short = "shendure-short.q"
      queue_long  = "shendure-long.q"

      withName: make_merge_demux_json {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        cpus = 1
        memory = '8 G'
        queue = queue_short
        time = 4.h
      }

      withName: merge_demux {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        cpus = 4
        memory = '10 G'
        penv = 'serial'
        queue = queue_short
        time = 4.h
      }

      withName: make_merge_hash_reads_json {
        module = 'modules:modules-init:modules-gs:python/3.12.1'
        memory = '8 G'
        queue = queue_short
        time = 4.h
      }

      withName: merge_hash_reads {
        module = 'modules:modules-init:modules-gs:python/3.12.1'
        memory = '16 G'
        queue = queue_short
        time = 4.h
      }

      withName: make_sample_map_json {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        cpus = 1
        memory = '16 G'
        queue = queue_short
        time = 4.h
      }

      withName: make_process_hashes_json {
        cpus = 1
        memory = '16 G'
        queue = queue_short
        time = 4.h
      }
      
      withName: process_hashes {
        cpus = 2
        memory = '24 G'
        penv = 'serial'
        queue = queue_short
        time = 4.h
      }

      withName: cat_hashes {
        cpus = 1
        memory = '16 G'
        queue = queue_short
        time = 4.h
      }

      withName: hash_umi_knee_plot {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '16 G'
        queue = queue_short
        time = 4.h
      }

      withName: calc_tot_hash_dup {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '16 G'
        queue = queue_short
        time = 4.h
      }

      withName: make_star_align_json {
        module = 'modules:modules-init:modules-gs'
        memory = '8 G'
        queue = queue_short
        time = 4.h
      }

      withName: align_bams {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        ext.star_path = 'STAR'
        queue = queue_short
        time = 4.h
      }

      withName: make_merge_align_json {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        memory = '8 G'
        queue = queue_short
        time = 4.h
      }

      withName: merge_align {
        module = 'modules:modules-init:modules-gs:sambamba/1.0.1_static'
        cpus = 8
        memory = '4 G'
        penv = 'serial'
        queue = queue_long
      }

      withName: merge_starsolo_reports {
        cpus = 1
        memory = '8 G'
        queue = queue_short
        time = 4.h
      }

      withName: split_starsolo_stats {
        cpus = 1 
        memory = '8 G'
        queue = queue_short
        time = 4.h
      }

      withName: cat_matrices_raw {
        cpus = 1
        memory = '24 G'
        queue = queue_short
        time = 4.h
      }

      withName: cat_matrices_filtered {
        cpus = 1
        memory = '24 G'
        queue = queue_short
        time = 4.h
      }

      withName: make_umi_counts_json {
        cpus = 1
        memory = '16 G'
        queue = queue_short
        time = 4.h
      }

      withName: make_umi_counts {
        cpus = 1
        memory = '96 G'
        queue = queue_short
        time = 4.h
      }

      withName: run_empty_drops {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        cpus = 1
        memory = '128 G'
        queue = queue_short
        time = 4.h
      }

      withName: make_cds_raw {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '16 G'
        queue  = queue_long
      }

      withName: run_scrublet {
        module = 'modules:modules-init:modules-gs:R/4.3.2:python/3.12.1'
        memory = '64 G'
        queue = queue_short
        time = 4.h
      }

      withName: assign_hash_raw {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '16 G'
        queue = queue_long
      }

      withName: make_generate_qc_hash {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '32 G'
        queue = queue_short
        time = 4.h
      }

      withName: make_generate_qc_no_hash {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '32 G'
        queue = queue_short
        time = 4.h
      }

      withName: make_experiment_dashboard {
        module = 'modules:modules-init:modules-gs:python/3.12.1'
        memory = '32 G'
        queue = queue_short
        time = 4.h
      }
    } // end of process
  }  // end of standard profile

  // profile large_memory
  large_memory {
    process {
      beforeScript =  '. /etc/profile.d/modules.sh'
      executor = "sge"
      errorStrategy = "finish"
      maxForks = 30

      queue_short = "shendure-short.q"
      queue_long  = "shendure-long.q"

      withName: make_merge_demux_json {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        cpus = 1
        memory = '8 G'
        queue = queue_short
        time = 4.h
      }

      withName: merge_demux {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        cpus = 4
        memory = '6 G'
        penv = 'serial'
        queue = queue_short
        time = 4.h
      }

      withName: make_merge_hash_reads_json {
        module = 'modules:modules-init:modules-gs:python/3.12.1'
        memory = '8 G'
        queue = queue_short
        time = 4.h
      }

      withName: merge_hash_reads {
        module = 'modules:modules-init:modules-gs:python/3.12.1'
        memory = '16 G'
        queue = queue_short
        time = 4.h
      }

      withName: make_sample_map_json {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        cpus = 1 
        memory = '16 G'
        queue = queue_short
        time = 4.h
      }

      withName: make_process_hashes_json {
        cpus = 1
        memory = '16 G'
        queue = queue_short
        time = 4.h
      }
      
      withName: process_hashes {
        cpus = 2
        memory = '24 G'
        penv = 'serial'
        queue = queue_short
        time = 4.h
      }

      withName: cat_hashes {
        cpus = 1
        memory = '16 G'
        queue = queue_short
        time = 4.h
      }

      withName: hash_umi_knee_plot {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '16 G'
        queue = queue_short
        time = 4.h
      }

      withName: calc_tot_hash_dup {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '16 G'
        queue = queue_short
        time = 4.h
      }

      withName: make_star_align_json {
        module = 'modules:modules-init:modules-gs'
        memory = '8 G'
        queue = queue_short
        time = 4.h
      }

      withName: align_bams {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        ext.star_path = 'STAR'
        queue = queue_short
        time = 4.h
      }

      withName: make_merge_align_json {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        memory = '8 G'
        queue = queue_short
        time = 4.h
      }

      withName: merge_align {
        module = 'modules:modules-init:modules-gs:sambamba/1.0.1_static'
        cpus = 8
        memory = '4 G'
        penv = 'serial'
        queue = queue_long
      }

      withName: merge_starsolo_reports {
        cpus = 1
        memory = '8 G'
        queue = queue_short
        time = 4.h
      }

      withName: split_starsolo_stats {
        cpus = 1 
        memory = '8 G'
        queue = queue_short
        time = 4.h
      }

      withName: cat_matrices_raw {
        cpus = 1
        memory = '24 G'
        queue = queue_short
        time = 4.h
      }

      withName: cat_matrices_filtered {
        cpus = 1
        memory = '24 G'
        queue = queue_short
        time = 4.h
      }

      withName: make_umi_counts_json {
        cpus = 1
        memory = '16 G'
        queue = queue_short
        time = 4.h
      }

      withName: make_umi_counts {
        cpus = 1
        memory = '96 G'
        queue = queue_short
        time = 4.h
      }

      withName: run_empty_drops {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        cpus = 1
        memory = '128 G'
        queue = queue_short
        time = 4.h
      }

      withName: make_cds_raw {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '32 G'
        queue = queue_long
      }

      withName: run_scrublet {
        module = 'modules:modules-init:modules-gs:R/4.3.2:python/3.12.1'
        memory = '32 G'
        queue = queue_short
        time = 4.h
      }

      withName: assign_hash_raw {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '32 G'
        queue = queue_long
      }

      withName: make_generate_qc_hash {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '32 G'
        queue = queue_short
        time = 4.h
      }

      withName: make_generate_qc_no_hash {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '32 G'
        queue = queue_short
        time = 4.h
      }

      withName: make_experiment_dashboard {
        module = 'modules:modules-init:modules-gs:python/3.12.1'
        memory = '32 G'
        queue = queue_short
        time = 4.h
      }
    } // end of process
  }  // end of megasci profile

}  // end of profiles




