manifest.version = '0.3.0'
params.version = manifest.version

profiles {

  // Profile standard: Nextseq runs.
  standard {
    process {
      beforeScript =  '. /etc/profile.d/modules.sh'
      executor = "sge"
      errorStrategy = "finish"
      maxForks = 50

      withName: make_merge_demux_json {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        cpus = 1
        memory = '8 G'
      }

      withName: merge_demux {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        cpus = 4
        memory = '16 G'
        penv = 'serial'
      }

      withName: make_sample_map_json {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        cpus = 1
        memory = '16 G'
      }

      withName: make_process_hashes_json {
        cpus = 1
        memory = '16 G'
      }
      
      withName: process_hashes {
        cpus = 2
        memory = '24 G'
        penv = 'serial'
      }

      withName: cat_hashes {
        cpus = 1
        memory = '16 G'
      }

      withName: hash_umi_knee_plot {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '16 G'
      }

      withName: calc_tot_hash_dup {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '16 G'
      }

      withName: make_star_align_json {
        module = 'modules:modules-init:modules-gs'
        memory = '8 G'
      }

      withName: align_bams {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        ext.star_path = 'STAR'
      }

      withName: make_merge_align_json {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        memory = '8 G'
      }

      withName: merge_align {
        module = 'modules:modules-init:modules-gs:sambamba/1.0.1_static'
        cpus = 8
        memory = '9 G'
        penv = 'serial'
      }

      withName: merge_starsolo_reports {
        cpus = 1
        memory = '8 G'
      }

      withName: split_starsolo_stats {
        cpus = 1 
        memory = '8 G'
      }

      withName: cat_matrices_raw {
        cpus = 1
        memory = '24 G'
      }

      withName: cat_matrices_filtered {
        cpus = 1
        memory = '24 G'
      }

      withName: make_umi_counts_json {
        cpus = 1
        memory = '16 G'
      }

      withName: make_umi_counts {
        cpus = 1
        memory = '96 G'
      }

      withName: run_empty_drops {
        cpus = 1
        memory = '128 G'
      }

      withName: make_cds_raw {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '72 G'
      }

      withName: run_scrublet {
        module = 'modules:modules-init:modules-gs:R/4.3.2:python/3.12.1'
        memory = '64 G'
      }

      withName: assign_hash_raw {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '96 G'
      }

      withName: make_generate_qc_hash {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '32 G'
      }

      withName: make_generate_qc_no_hash {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '32 G'
      }

      withName: make_experiment_dashboard {
        module = 'modules:modules-init:modules-gs:python/3.12.1'
        memory = '32 G'
      }
    } // end of process
  }  // end of standard profile

  // profile megasci: MegaSci run with 25b reads.
  megasci {
    process {
      beforeScript =  '. /etc/profile.d/modules.sh'
      executor = "sge"
      errorStrategy = "finish"
      maxForks = 50

      withName: make_merge_demux_json {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        cpus = 1
        memory = '8 G'
      }

      withName: merge_demux {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        cpus = 4
        memory = '16 G'
        penv = 'serial'
      }

      withName: make_sample_map_json {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        cpus = 1 
        memory = '16 G'
      }

      withName: make_process_hashes_json {
        cpus = 1
        memory = '16 G'
      }
      
      withName: process_hashes {
        cpus = 2
        memory = '24 G'
        penv = 'serial'
      }

      withName: cat_hashes {
        cpus = 1
        memory = '16 G'
      }

      withName: hash_umi_knee_plot {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '16 G'
      }

      withName: calc_tot_hash_dup {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '16 G'
      }

      withName: make_star_align_json {
        module = 'modules:modules-init:modules-gs'
        memory = '8 G'
      }

      withName: align_bams {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        ext.star_path = 'STAR'
      }

      withName: make_merge_align_json {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        memory = '8 G'
      }

      withName: merge_align {
        module = 'modules:modules-init:modules-gs:sambamba/1.0.1_static'
        cpus = 8
        memory = '9 G'
        penv = 'serial'
      }

      withName: merge_starsolo_reports {
        cpus = 1
        memory = '8 G'
      }

      withName: split_starsolo_stats {
        cpus = 1 
        memory = '8 G'
      }

      withName: cat_matrices_raw {
        cpus = 1
        memory = '24 G'
      }

      withName: cat_matrices_filtered {
        cpus = 1
        memory = '24 G'
      }

      withName: make_umi_counts_json {
        cpus = 1
        memory = '16 G'
      }

      withName: make_umi_counts {
        cpus = 1
        memory = '96 G'
      }

      withName: run_empty_drops {
        cpus = 1
        memory = '128 G'
      }

      withName: make_cds_raw {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '72 G'
      }

      withName: run_scrublet {
        module = 'modules:modules-init:modules-gs:R/4.3.2:python/3.12.1'
        memory = '32 G'
      }

      withName: assign_hash_raw {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '96 G'
      }

      withName: make_generate_qc_hash {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '32 G'
      }

      withName: make_generate_qc_no_hash {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '32 G'
      }

      withName: make_experiment_dashboard {
        module = 'modules:modules-init:modules-gs:python/3.12.1'
        memory = '32 G'
      }
    } // end of process
  }  // end of megasci profile

}  // end of profiles




